{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

<div class="content">
  <h1> Liste des sessions dans la formation : <br> {{formation}}</h1>
     
  
      
      {% if sessions | length > 0 %}
        <div class="card">
          {% for session in sessions %}
            <div class="list">
              <a href="{{ path('details_session', {'id' : session.id}) }}">{{session}}</a> (du {{ session.dateDebutFR }} au {{ session.dateFinFR }})
              {% if is_granted('ROLE_ADMIN')  %}
              <a class="action" href="{{ path('edit_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> 
              <a class="action" href="{{ path('delete_session', {'session' : session.id}) }}"><i class="fa-solid fa-trash"></i></a><br>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="card actions"> 
          <a class="action" href="{{ path('edit_formation', {'id' : formation.id}) }}">Modifier la formation</a>
          <a class="action" href="{{ path('delete_formation', {'id' : formation.id}) }}">Supprimer la formation</a>
        </div>
     
      {% else %}
        <p>Il semblerait qu'aucune session ne soit attribuée à cette formation.</p>
      {% endif %}
</div>

{% endblock %}