{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}

<div class="content">
  <div class="card">
    <h1> Details du du formateur :</h1> <br>
    <h2>{{formateur}} <br> contact : {{formateur.email}}</h2>
  </div>
    
  {% if sessions | length > 0 %}
    <h1>Liste des session prévues :</h1>
    <div class="card">
      {% for session in sessions %}
        <div class="list">
          <a href="{{ path('details_session', {'id' : session.id}) }}">{{session}}</a> (du {{ session.dateDebutFR }} au {{ session.dateFinFR }})
          {% if is_granted('ROLE_ADMIN')  %}
          <a class="action" href="{{ path('edit_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a> 
          <a class="action" href="{{ path('delete_session', {'session' : session.id}) }}"><i class="fa-solid fa-trash"></i></a><br>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="card actions"> 
      <a class="action" href="{{ path('edit_formateur', {'id' : formateur.id}) }}">Modifier le formateur</a>
      <a class="action" href="{{ path('delete_formateur', {'id' : formateur.id}) }}">Supprimer le formateur</a>
    </div>
      
    {% else %}
      <h2>Il semblerait qu'aucune session ne soit attribuée à ce formateur.</h2>
  {% endif %}
</div>

{% endblock %}