{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="content">
    <div class="session-list">
        <div class="session-list-title card">
            <h1>Mon Panneau Admin</h1>
        </div>
    
        {% if sessionFutur %}
        <div class="btn btn-primary">
            {{ knp_pagination_render(sessionFutur) }}

        </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="session-title">Session(s) à venir</th>
                        <th class="session-date-debut">Date de début</th>
                        <th class="session-date-fin">Date de fin</th>
                        <th class="session-places">Places</th>                      
                        <th class="session-places-restantes">places restantes</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for sessionF in sessionFutur %}
                    <tr>
                        <td class="session-title">
                            <a class="action" href="{{ path('details_session', {'id' : sessionF.id}) }}">{{ sessionF }}</a>
    
                            {% if is_granted('ROLE_ADMIN')  %}    
                            <a class="action" href="{{ path('edit_session', {'id' : sessionF.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="action" href="{{ path('delete_session', {'session' : sessionF.id}) }}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
    
                        </td>
                        <td class="session-date-debut">{{ sessionF.dateDebutFR }}</td>
                        <td class="session-date-fin">{{ sessionF.dateFinFR }}</td>
                        <td class="session-places">{{ sessionF.nombrePlaces }}</td>
                        <td class="session-places-restantes">
                            {% set places_restantes = sessionF.nombrePlaces | trim | default(0) %}
                            {{ places_restantes - sessionF.inscrits | length }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br><br>

        {% if sessionPresent %}
        <div class="btn btn-primary">
            {{ knp_pagination_render(sessionPresent) }}
        </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="session-title">Session(s) en cours</th>
                        <th class="session-date-debut">Date de début</th>
                        <th class="session-date-fin">Date de fin</th>
                        <th class="session-places">Places</th>                      
                        <th class="session-places-restantes">places restantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sessionP in sessionPresent %}
                    <tr>
                        <td class="session-title">
                            <a class="action" href="{{ path('details_session', {'id' : sessionP.id}) }}">{{ sessionP }}</a>
    
                            {% if is_granted('ROLE_ADMIN')  %}    
                            <a class="action" href="{{ path('edit_session', {'id' : sessionP.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="action" href="{{ path('delete_session', {'session' : sessionP.id}) }}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
    
                        </td>
                        <td class="session-date-debut">{{ sessionP.dateDebutFR }}</td>
                        <td class="session-date-fin">{{ sessionP.dateFinFR }}</td>
                        <td class="session-places">{{ sessionP.nombrePlaces }}</td>
                        <td class="session-places-restantes">
                            {% set places_restantes = sessionP.nombrePlaces | trim | default(0) %}
                            {{ places_restantes - sessionP.inscrits | length }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br><br>

        {% if sessionPasse %}
        <div class="btn btn-primary">

            {{ knp_pagination_render(sessionPasse) }}

        </div>

            <table class="table">
                <thead>
                    <tr>
                        <th class="session-title">Session(s) passées</th>
                        <th class="session-date-debut">Date de début</th>
                        <th class="session-date-fin">Date de fin</th>
                        <th class="session-places">Places</th>                      
                        <th class="session-places-restantes">places restantes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sessionPA in sessionPasse %}
                    <tr>
                        <td class="session-title">
                            <a class="action" href="{{ path('details_session', {'id' : sessionPA.id}) }}">{{ sessionPA }}</a>
    
                            {% if is_granted('ROLE_ADMIN')  %}    
                            <a class="action" href="{{ path('edit_session', {'id' : sessionPA.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a class="action" href="{{ path('delete_session', {'session' : sessionPA.id}) }}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
    
                        </td>
                        <td class="session-date-debut">{{ sessionPA.dateDebutFR }}</td>
                        <td class="session-date-fin">{{ sessionPA.dateFinFR }}</td>
                        <td class="session-places">{{ sessionPA.nombrePlaces }}</td>
                        <td class="session-places-restantes">
                            {% set places_restantes = sessionPA.nombrePlaces | trim | default(0) %}
                            {{ places_restantes - sessionPA.inscrits | length }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

{% endblock %}

