{% extends 'base.html.twig' %}

{% block title %}Details de la session{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Details de la session</h1>
    

    
    {% if session %}

      <div>
        {{ session }} <br>
        Formation : {{ session.formation }} <br>
        Formateur référent : {{ session.formateur }} <br>
        du {{ session.dateDebutFR }} au {{ session.dateFinFR }} ({{ session.dureeSession }} jours)<br>
        {{ session.nombrePlaces }} place(s) <br>
         
      </div>
      

      
      <div>

        <h2>Programme de cette session :</h2>
          <div>
            {% for programme in session.programmes %}
            <p>
                  {{programme}} 
                  <a href="{{ path('removeProgramme_session', {'session' : session.id, 'programme' : programme.id}) }}">déprogrammer</a>
            </p>
            {% endfor %}
          </div>

        <div>
          <h3>rajouter un module :</h3>
            {{ form_start(formAddProgramme) }}
        
            <div>
                <div>
                    {{form_row(formAddProgramme.module)}}
                
                    {{form_row(formAddProgramme.duree)}}
                </div>
            </div>
            
              {{form_row(formAddProgramme.valider)}}
        
            {{ form_end(formAddProgramme) }}
        </div>

      </div>
          

      {% if session.inscrits| length > 0 %}
      <div>
        <h2>Inscrits à cette session : </h2>
          <div>
            {% for inscrit in session.inscrits %}
              <p>
                {{ inscrit}} 
                <a href="{{ path('removeUser_session', {'session' : session.id, 'user' : inscrit.id}) }}">desinscrire</a>
              </p>
            {% endfor %}
          </div>
      </div>
      {% endif %}


    {% if nonInscrits %} 
    <div>
      <h2>stagiaires non inscrits :</h2>
        <div>
          {% for nonInscrit in nonInscrits %}
            <p>
              {{nonInscrit}} <a href="{{ path('addUser_session', {'session' : session.id, 'user' : nonInscrit.id}) }}">inscrire</a>
            </p>
          {% endfor %}
        </div>
    </div>
    {% endif %}

    {% else %}
      <p>Il semblerait que cette session n'existe pas en base de données.</p>
    {% endif %}
</div>
{% endblock %}
