{% extends 'base.html.twig' %}

{% block title %}Details de la session{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Details de la session</h1>

    {% if session %}

      <table>
        <thead>
          <tr>
            <th>{{ session }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            formation : {{ session.formation }}
          </tr>
          <tr>
            formateur référent : {{ session.formateur }}
          </tr>
          <tr>
            <td>du {{ session.dateDebutFR }} au {{ session.dateFinFR }}</td>
            <td>| {{ session.nombrePlaces }} places</td>
          </tr>
        </tbody>
      </table>
          {# {{ session }} <br>
          {{ session.dateDebutFR }} <br>
          {{ session.dateFinFR }} <br>
          {{ session.nombrePlaces }} places
         #}
      
   
    {% else %}
      <p>Il semblerait que cette session n'existe pas en base de données.</p>
    {% endif %}
</div>
{% endblock %}
