{% extends 'base.html.twig' %}

{% block title %}Details de la session{% endblock %}

{% block body %}

<div class="content">
    <h1>Details de la session</h1>
    

    
    <div>

    
    {% if session %}

      <div class="card">
        <h1>
          {{ session }}
        </h1>
        <div class="session-info">
          Formation : {{ session.formation }} <br>
          Formateur référent : {{ session.formateur }} <br>
          du {{ session.dateDebutFR }} au {{ session.dateFinFR }} ({{ session.dureeSession }} jours)<br>
          {{ session.nombrePlaces }} place(s)
        
          ({% set places_restantes = session.nombrePlaces | trim | default(0) %}
          {{ places_restantes - session.inscrits | length }} restantes)<br>
          
        </div>
      </div>

      <div>
        <h2>Programme de cette session :</h2>
          <table class="table">

            <thead>
                <tr>
                    <th>Module</th>
                    <th>Durée</th>
                </tr>
            </thead>

            <tbody>
                {% for programme in session.programmes %}
                  <tr>
                      <td class="table-module">
                        
                          {{ programme.module }} 
  
                          {% if is_granted('ROLE_ADMIN') %}
                          
                          <a class="btn-warning" href="{{ path('removeProgramme_session', {'session' : session.id, 'programme' : programme.id}) }}"><i class="fa-solid fa-trash"></i></a>
                          {% endif %}
                      </td>
                      <td >
                        {{ programme.duree }} j

                        {% if is_granted('ROLE_ADMIN') %}
                        
                          <a class="btn-warning" href="{{ path('modifProgramme_session', {'session' : session.id, 'programme' : programme.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        {% endif %}
                      </td>
                  </tr>
                {% else %}
                  <tr>
                      <td colspan="3">Aucun programme trouvé.</td>
                  </tr>
                {% endfor %}
            </tbody>
            
        </table>
      </div>

    
    

      {% if is_granted('ROLE_ADMIN')  %}
      {{ form_start(formAddProgramme) }}
      <div class="card form-module">
        <h2 class="programm-form">rajouter un module :</h2>
          <div>
                  {{form_row(formAddProgramme.module)}}
                  {{form_row(formAddProgramme.duree)}}
          </div>
          {{form_row(formAddProgramme.valider)}}
      </div>
      {{ form_end(formAddProgramme) }}
      {% endif %}

     
          

      {% if session.inscrits| length > 0 %}
      <div class="card">
        <h2>Inscrits à cette session : </h2>
          <div>
            {% for inscrit in session.inscrits %}
            <div class="stagiaires">
              <p>
                {{ inscrit}}   |
                {% if is_granted('ROLE_ADMIN')  %}
                <a class="action" href="{{ path('removeUser_session', {'session' : session.id, 'user' : inscrit.id}) }}">desinscrire</a>
                {% endif %}
              </p>
            </div>
            {% endfor %}
          </div>
      </div>
      {% endif %}




      {% if nonInscrits and is_granted('ROLE_ADMIN')  %} 
      <div class="card">
        <h2>stagiaires non inscrits :</h2>
          <div>
            {% for nonInscrit in nonInscrits %}
            <div class="stagiaires">
              <p>
                {{nonInscrit}}  |<a class="action" href="{{ path('addUser_session', {'session' : session.id, 'user' : nonInscrit.id}) }}">inscrire</a>
              </p>
            </div>
            {% endfor %}
          </div>
      </div>
      {% endif %}

    {% else %}
      <p>Il semblerait que cette session n'existe pas en base de données.</p>
    {% endif %}
</div>
{% endblock %}
