{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="session-list">
    <div class="session-list-title">
        <h1>Liste des sessions</h1>
        <a class="btn btn-primary" href="{{ path('new_session') }}">Ajouter une session</a>
    </div>

    {% if sessions %}
        <table class="table">
            <thead>
                <tr>
                    <th>Session</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Places</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>places restantes</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>
                        <a href="{{ path('details_session', {'id' : session.id}) }}">{{ session }}</a>

                        {% if is_granted('ROLE_ADMIN')  %}    
                        <a class="btn btn-warning btn-sm" href="{{ path('edit_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-warning btn-sm" href="{{ path('delete_session', {'session' : session.id}) }}"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}
                        
                    </td>
                    <td>{{ session.dateDebutFR }}</td>
                    <td>{{ session.dateFinFR }}</td>
                    <td>{{ session.nombrePlaces }}</td>
                    <td>
                        {% set places_restantes = session.nombrePlaces | trim | default(0) %}
                        {{ places_restantes - session.inscrits | length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Il semblerait qu'aucune session ne soit renseignée en base de données.</p>
    {% endif %}
</div>
{% endblock %}

