{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Liste des sessions</h1>
    <a href="{{ path('new_session') }}">Ajouter une session</a>

    {% if sessions %}

      {% for session in sessions %}
        

      <table>
        <thead>
          <tr>
            {# <a href="{{ path('show_entreprise', {'id': entreprise.id}) }}">{{ entreprise}}</a> #}
            <th><a href="{{ path('details_session', {'id' : session.id}) }}">{{ session }}</a></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>du {{ session.dateDebutFR }} au {{ session.dateFinFR }}</td>
            <td>| {{ session.nombrePlaces }} places</td>
            <tfoot>
              <td><a class="btn btn-warning btn-sm" href="{{ path('edit_session', {'id' : session.id}) }}">edit</a></td>
              {# <td><a class="btn btn-warning btn-sm" href="{{ path('delete_session', {'id' : session.id}) }}">delete</a></td> #}
            </tfoot>
          </tr>
        </tbody>
      </table>
          {# {{ session }} <br>
          {{ session.dateDebutFR }} <br>
          {{ session.dateFinFR }} <br>
          {{ session.nombrePlaces }} places
         #}
      {% endfor %}
   
    {% else %}
      <p>Il semblerait qu'aucune session ne soit renseignée en base de données.</p>
    {% endif %}
</div>
{% endblock %}
