{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="content">
    <div class="session-list">
        <div class="session-list-title card">
            <h1>Liste des sessions</h1>
        </div>
        
        <a class="btn btn-primary" href="{{ path('new_session') }}">Ajouter une session</a>
        {% if sessions %}
        <div class="btn btn-primary">
            {# <div class="pagination"> #}
                {{ knp_pagination_render(sessions) }}
            {# </div> #}
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="session-title">Session(s) en cours</th>
                    <th class="session-date-debut">Date de début</th>
                    <th class="session-date-fin">Date de fin</th>
                    <th class="session-places">Places</th>                      
                    <th class="session-places-restantes">places restantes</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td class="session-title">
                        <a class="action-links" href="{{ path('details_session', {'id' : session.id}) }}">{{ session }}</a>

                        {% if is_granted('ROLE_ADMIN')  %}    
                        <a class="action" href="{{ path('edit_session', {'id' : session.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="action" href="{{ path('delete_session', {'session' : session.id}) }}"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}

                    </td>
                    <td class="session-date-debut">{{ session.dateDebutFR }}</td>
                    <td class="session-date-fin">{{ session.dateFinFR }}</td>
                    <td class="session-places">{{ session.nombrePlaces }}</td>
                    <td class="session-places-restantes">
                        {% set places_restantes = session.nombrePlaces | trim | default(0) %}
                        {{ places_restantes - session.inscrits | length }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% else %}
            <p>Il semblerait qu'aucune session ne soit renseignée en base de données.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

