{% extends 'base.html.twig' %}

{% block title %}Ajoutez un nouveau module{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Editer une session existante</h1>
    {% else %}
        <h1>Ajoutez une nouvelle session</h1>
    {% endif %}

    {{ form_start(formAddModule) }}
    
    <div>
        <div>
            {{form_row(formAddModule.intitule_module)}}          
        </div>
        <div>
            {{form_row(formAddModule.categorie)}}
        </div>
    </div>
        {{form_row(formAddModule.valider)}}

    {{ form_end(formAddModule) }}

{% endblock %}