<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/main.css')}}">
        {% endblock %}

       
    </head>
    <body>

        {# liens vers mes differentes vues #}
        <nav class="navbar">
            <button class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul>
                {% if app.user %}
                <li><a href="{{path ('details_user', {'id': app.user.id}) }}"><i class="fa-regular fa-user"></i> Mon profil</a></li>
                <li><a href="{{path ('app_logout')}}"><i class="fa-solid fa-right-from-bracket"></i>  Déconnexion</a></li>

            
                <li><a href="{{path ('app_home')}}"><i class="fa-solid fa-house"></i> Page d'accueil</a></li>
                <li><a href="{{path ('app_session')}}"><i class="fa-solid fa-chalkboard-user"></i> Sessions</a></li>
                <li><a href="{{path ('app_module')}}"><i class="fa-solid fa-cubes"></i> Modules</a></li>
                <li><a href="{{path ('app_formation')}}"><i class="fa-solid fa-school"></i> Formations</a></li>
                
                {% if is_granted('ROLE_ADMIN') %}
                {# <li><a href="#">Panneau admin</a></li> #}
                <li><a href="{{path ('app_user')}}"><i class="fa-solid fa-users"></i> Liste des Utilisateurs</a></li>
                {% endif %}
                
                {% else %}

                <li><a href="{{path ('app_register')}}"><i class="fa-regular fa-address-card"></i> Inscription</a></li>
                <li><a href="{{path ('app_login')}}"><i class="fa-solid fa-right-to-bracket"></i> Connexion</a></li>
                {% endif %}

                
            </ul>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
        <script src="{{asset('js/main.js')}}"></script>
        <script src="https://kit.fontawesome.com/a99d4df9ac.js" crossorigin="anonymous"></script>
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    </body>
</html>