{% extends 'base.html.twig' %}

{% block title %}Details du stagiaire{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Details du stagiaire</h1>

    {# tester les infos qu'on reçoit du user #}

        {# {% for session in user.sessions %}
            {{ dump(session) }}
        {% endfor %} #}

    {# si le user existe en BDD #}
    {% if user %}

    {# affichage de ses infos #}
      <table>

        <thead>
            <tr>
              <th><h2>Fiche stagiaire</h2></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nom : {{ user.nom }}</td>
            </tr>
            <tr>
                <td>Prenom : {{ user.prenom }}</td>
            </tr>
            <tr>
                <td>civilité : {{ user.sexe }}</td>
            </tr>
            <tr>
                <td>Ville : {{ user.ville }}</td>
            </tr>
            <tr>
                <td>Telephone : {{ user.telephone }}</td>
            </tr>
            <tr>
                <td>email : {{ user.email }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <td>Role : {{ user.roles|join(', ') }}</td>
            </tr>
            {% endif %}
            
        </tbody>
      </table>

      <div>
        {% if user.sessions |length == 0  %} 
            <h2>pas encore inscrit à une session.</h2>
        {% else %}
            <h2>Inscrit à ces session :</h2>
            <div>
            {% for session in user.sessions %}
                <p>
                {{ session}}
                </p>
            {% endfor %}
            </div>
        {% endif %}
      </div>

     
         
    {% else %}
      <p>Il semblerait que ce stagiaire n'existe pas en base de données.</p>
    {% endif %}
</div>
{% endblock %}
